.medium-button {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: orange;
    color: white;
  }
  
  .high-button {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: red;
    color: white;
  }
  .low-button {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: yellow;
    color: black;
  }